body, html {
    margin: 0;
    font-family:'Kaushan Script', cursive;
    background-color: #07575B;
}

h1 {
    color: white;
    font-family: 'Dancing Script', cursive;
}

h3 {
    color: black;
}

.content {
    margin: 0 auto;
    width: 500px;
}

table, td, th {
    border: 1px solid rgb(196, 186, 186);
    color: #C4DFE6;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th {
    height: 30px;
    color: #cee4e9;
}

td {
    text-align: center;
    padding: 5px;
    text-transform: capitalize;
}

a {
    color: #66A5AD;
}

a:hover {
    color: rgb(118, 219, 219);
}

#Delete:hover {
    color: rgb(201, 89, 89);
}

.form {
    margin-top: 20px;
    height: 25px;
}

#content:required {
    width: 75%;
    padding: 5px;
    color: #05191d;
    border-radius: 5px;
    font-family:'Poppins', sans-serif;
    font-weight: 700;
    
}

#content:required:invalid {
    border: 1px solid red;
}

.submit {
    background-color: rgb(207, 241, 230);
    padding: 5px;
    border-radius: 12px;
    width: 100px;
    font-weight: 700;
    font-family:'Poppins', sans-serif;

}

.submit:hover {
    background-color: rgb(172, 235, 214);
}