{% extends 'base.html' %}

{% block head %}

<style>
    @import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Kaushan+Script&family=Poppins:ital,wght@1,200&display=swap');
</style>

{% endblock %}

{% block body %}
<div class="content">
    <h1>Task Master</h1>

    {% if tasks| length < 1 %} <h3>There are no tasks. Create one below!! &#128516</h3>

        {% else %}
        <table border="1">
            <tr>
                <th>Task</th>
                <th>Added</th>
                <th>Actions</th>
            </tr>
            {% for task in tasks %}
            <tr>
                <td>{{ task.content }}</td>
                <td>{{ task.date_created.date() }}</td>
                <td>
                    <a href="/delete/{{task.id}}" id="Delete">Delete</a>
                    <br>
                    <a href="/update/{{task.id}}">Update</a>
                </td>
            </tr>
            {% endfor %}
        </table>
        {% endif %}
        <br>
        <br>
        <FORM action=" /" method="POST">
            <input required type="text" name="content" id="content" placeholder="new task" autofocus="autofocus">
            <input type="submit" value="Add Task" class="submit">
        </FORM>
</div>

{% endblock %}